<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Orders</title>
    <link rel="stylesheet" href="Style2.css">
</head>
<body>
<h1>Your Orders</h1>
<div th:each="order : ${orders}">
    <p>Order ID: <span th:text="${order.id}"></span></p>
    <p>Total Quantity: <span th:text="${order.totalQty}"></span></p>
    <p>Total Amount: <span th:text="${order.totalAmount}"></span></p>
    <p>Status: <span th:text="${order.status ? 'Completed' : 'Pending'}"></span></p>
</div>
<form th:action="@{/}" method="get">
    <button type="submit">Tiếp tục mua hàng</button>
</form>
</body>
</html>
